workflows/rag_ingestion_google_drive.json
{
  "name": "rag_ingestion_google_drive",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Iwx-66Idi54XRnzY5nuwNe7DfPBNaMUc",
          "mode": "list",
          "cachedResultName": "rag-chatbot",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Iwx-66Idi54XRnzY5nuwNe7DfPBNaMUc"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "ddd8baf5-8cd0-4a6f-ab3a-52a51bdf054c",
      "name": "Google Drive File Updated",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Efhik7sYNOGFzfSB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Iwx-66Idi54XRnzY5nuwNe7DfPBNaMUc",
          "mode": "list",
          "cachedResultName": "rag-chatbot",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Iwx-66Idi54XRnzY5nuwNe7DfPBNaMUc"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fca3dac1-8d27-438a-b6d4-35a4c64b5e67",
      "name": "Google Drive File Created",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Efhik7sYNOGFzfSB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        288,
        96
      ],
      "id": "2fd8ad55-2d0b-4a2d-b1fd-8b54dac538c1",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Efhik7sYNOGFzfSB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-chatbot",
          "mode": "list",
          "cachedResultName": "rag-chatbot"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        496,
        96
      ],
      "id": "c21d8604-539d-44f8-8169-b879b0cfe010",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "s38msjfYUBX45bpg",
          "name": "pinecone-rag-chatbot"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        640,
        304
      ],
      "id": "478f5aa3-5338-4d65-b13a-3d71e9a802df",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        640,
        512
      ],
      "id": "60781efb-0c80-4f9b-803c-aa1c84918e47",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        448,
        368
      ],
      "id": "8d9ba3ad-3123-4b5f-b4c5-8a53b46dd637",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "5NJrLEUtDAmSimpd",
          "name": "prod-rag-chatbot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive File Updated": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Created": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d89b5bd0-0ce7-4a21-aba3-6fce6e8e1fcc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e7a789dc8d47e7cbc9e8ce7e2799fc21bc535c27c690e41de61bc042ca54f69"
  },
  "id": "LmDDi5bC5TrzSpjB",
  "tags": [
    {
      "name": "rag-chatbot",
      "id": "UzIx77Df70GdS0hR",
      "createdAt": "2025-12-28T13:21:51.884Z",
      "updatedAt": "2025-12-28T13:21:51.884Z"
    }
  ]
}